@page
@model Mission09_ea11160.Pages.CheckOutCompletedModel
@{
}

<div class="text-center">
    <h2>Happy reading! Your order will be delivered shortly!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>